{% extends 'base.html' %}

{% block title %}
  Личный кабинет: {{ user.username }}
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
          <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
              <ul class="nav flex-column">
                {% for test in tests %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'account:get_results' test.slug %}">
                      <span data-feather="home"></span>
                      {{ test.title }}
                    </a>
                  </li>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
