{% extends 'base.html' %}

{% block title %}
    Тест {{test.title}}
{% endblock %}

{% block content %}
    <div class="container marketing" id="tests">
      <div class="py-5 text-center">
        <h2>{{ test.title }}</h2>
        <p class="lead">{{ test.description|linebreaks }}</p>
      </div>
      {% if add_result %}
          <h3>Ответ добавлен в личный кабинет</h1>
      {% endif %}
      <div class="row g-2">
        {% if result %}
        <div class="col-md-7 col-lg-8">
            <h1 class="mb-3">{{ result }}</h1>
              <a class="btn btn-outline-success" href="{% url 'tests:test_detail' test.slug %}" role="button">Пройти тест заново</a>
              <a class="btn btn-outline-success" href="{% url 'tests:index' %}" role="button">На главную</a>
        </div>
              <!--
                {% if request.user.is_authenticated %}
                <div class="col-md-7 col-lg-5">
                  <a class="btn btn-outline-success col-9" href="{% url 'tests:index' %}" role="button">Сохранить ответ!</a>
                </div>
              {% endif %}
              Надо подучить javascript чтобы дать выбор пользователю грузить в бд или нет-->
        {% endif %}

        {% if form %}
        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">{{ test.title }}</h4>
          <form method="post" action="{% url 'tests:test_detail' test.slug %}" class="needs-validation" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="w-100 btn btn-outline-success" type="submit">Получить результат</button>
          </form>
        {% endif %}
          
{% endblock %}